<div class="vet-carto">
    <figure>
        <img src="../../../assets/images/perrito.jpg" alt="veterinaria" title="veterinaria">
        <div class="vc-servicios">
            <i class="fa-solid fa-crow"></i>
            <i class="fa-solid fa-dog"></i>
            <i class="fa-solid fa-horse"></i>
        </div>
    </figure>
    <div class="vc-content">
        <h4 class="title">Veterinaria Alcorta</h4>
        <div class="vc-ubicacion">Julio A. Roca 1307, Guemes</div>
        <div class="vc-contacto">
            <ul class="contacto">
                <li class="contacto-item">
                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                </li>
                <li class="contacto-item">
                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                </li>
            </ul>
        </div>
        <div class="vc-bottom d-flex align-self-center justify-content-between">
            <div class="stars d-flex align-self-center">
                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-regular fa-star"></i>
            </div>
            <div class="vt-state open badge">Open</div>
        </div>
        <a routerLink="../veterinaria" class="btn btn-primary w-100">Mas Info!</a>
    </div>
</div>
