<div class="vet-carto" *ngFor="let paseador of paseadores">
    <figure>
        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
    </figure>
    <div class="vc-content">
        <h4 class="title">{{paseador.nombre}} {{paseador.apellido}}</h4>
        <div class="vc-contacto">
            <ul class="contacto">
                <li class="contacto-item">
                    <i class="fa-brands fa-whatsapp"></i> <a href="#">{{paseador.contacto}}</a>
                </li>
                <li class="contacto-item">
                    <i class="fa-solid fa-phone"></i> <a href="#">{{paseador.contacto}}</a>
                </li>
            </ul>
        </div>
        <div class="vc-bottom d-flex align-self-center justify-content-between">
            <div class="stars d-flex align-self-center">
                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-regular fa-star"></i>
            </div>
        </div>
        <a routerLink="../paseador" class="btn btn-primary w-100">Mas Info!</a>
    </div>
</div>
