<!-- Las secciones de contenidos de una pagina de servicio paseador -->

<section class="paseador-contenido p-100 bg-light">
    <div class="container"><div class="row">
        <div class="col-lg-6 col-12 order-lg-1 order-2 align-self-center">
            <h1 class="title">Carlos Gutierrez</h1>
            <div class="servicio">
                <h5>Paseador</h5>
                <div class="stars">
                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, distinctio pariatur reiciendis aliquam at vitae, nobis consequuntur unde sed iste accusamus eos atque, dolores nam doloribus temporibus autem? Aut, consectetur.</p>
        </div>
        <div class="col-lg-6 col-12 order-lg-2 order-1 mb-4 mb-lg-0">
            <div class="page-image"><img alt="cobayo" src="../../../assets/images/paseador.jpg" /></div>
        </div>
    </div></div>
</section>

<section class="home-contenido bloque-info p-100">
    <div class="container"><div class="row">
        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
            <div class="card peto">
                <h3>Horario</h3>
                <p>Estos son los horarios que manejamos para el servicio!</p>
                <ul class="horario">
                    <li class="horario-item">
                        <span class="horario-dia">Lunes</span>
                        <span class="horario-dots"></span>
                        <span class="horario-tiempo">10AM - 8PM</span>
                    </li>
                    <li class="horario-item">
                        <span class="horario-dia">Martes</span>
                        <span class="horario-dots"></span>
                        <span class="horario-tiempo">10AM - 8PM</span>
                    </li>
                    <li class="horario-item">
                        <span class="horario-dia">Miercoles</span>
                        <span class="horario-dots"></span>
                        <span class="horario-tiempo">10AM - 8PM</span>
                    </li>
                    <li class="horario-item">
                        <span class="horario-dia">Jueves</span>
                        <span class="horario-dots"></span>
                        <span class="horario-tiempo">10AM - 8PM</span>
                    </li>
                    <li class="horario-item">
                        <span class="horario-dia">Viernes</span>
                        <span class="horario-dots"></span>
                        <span class="horario-tiempo">10AM - 8PM</span>
                    </li>
                    <li class="horario-item">
                        <span class="horario-dia">Sábado</span>
                        <span class="horario-dots"></span>
                        <span class="horario-tiempo">10AM - 2PM</span>
                    </li>
                    <li class="horario-item">
                        <span class="horario-dia">Domingo</span>
                        <span class="horario-dots"></span>
                        <span class="horario-tiempo">Cerrado</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
            <div class="card peto">
                <h3>Contacto</h3>
                <ul class="contacto">
                    <li class="contacto-item">
                        <i class="fa-solid fa-envelope"></i> <a href="mailto:email@email.com">email@email.com</a>
                    </li>
                    <li class="contacto-item">
                        <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                    </li>
                    <li class="contacto-item">
                        <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                    </li>
                </ul>
                <h3>Redes</h3>
                <ul class="redes">
                    <li class="redes-item">
                        <i class="fa-brands fa-instagram"></i> <a href="#">@instagram</a>
                    </li>
                    <li class="redes-item">
                        <i class="fa-brands fa-facebook"></i> <a href="#">@facebook</a>
                    </li>
                    <li class="redes-item">
                        <i class="fa-brands fa-twitter"></i> <a href="#">@twitter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="card peto">
                <h3>Costo</h3>
                <p>Los costos de los servicios prestados son.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque vitae rem quod ea nihil</p>
            </div>
        </div>
    </div></div>
</section>



<section class="home-contenido bloque-info p-100 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h4 class="uppertitle">Valoraciones</h4>
                <h2 class="title">Opiniones y algo mas</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="valora-no-loged">
                    <a class="btn" href="user.html">Necesitas registrarte/loguearte para valorar</a>
                </div>
                <form id="valora-form">
                    <div class="vf-username">Roberto Carlo</div>
                    <div class="vf-stars" id="vf-star">
                        <i class="fa-regular fa-star" id="val-star1"></i>
                        <i class="fa-regular fa-star" id="val-star2"></i>
                        <i class="fa-regular fa-star" id="val-star3"></i>
                        <i class="fa-regular fa-star" id="val-star4"></i>
                        <i class="fa-regular fa-star" id="val-star5"></i>
                    </div>
                    <input type="number" max="5" min="0" class="mb-2 form-control d-none" value="0" name="vf-val" id="vf-val" placeholder="0">
                    <textarea name="vf-mensaje" placeholder="Valoración" id="" cols="30" rows="10" class="mb-2 form-control bg-light mb-2"></textarea>
                    <button class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <div class="row valoraciones">
            <div class="col-12">
                <div class="valoracion">
                    <header class="valora-header">
                        <div class="valora-user">Juan Antonio Solis</div>
                        <div class="valora-stars">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                        </div>
                    </header>
                    <div class="valora-contento">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ut explicabo reiciendis sit velit fugiat, fuga, ipsam repellendus nulla quasi natus maxime. Est aut reiciendis nulla velit accusantium optio animi.</div>
                </div>
            </div>
            <div class="col-12">
                <div class="valoracion">
                    <header class="valora-header">
                        <div class="valora-user">Estela Gutierrez</div>
                        <div class="valora-stars">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        </div>
                    </header>
                    <div class="valora-contento">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ut explicabo reiciendis sit velit fugiat, fuga, ipsam repellendus nulla quasi natus maxime. Est aut reiciendis nulla velit accusantium optio animi.</div>
                </div>
            </div>
            <div class="col-12">
                <div class="valoracion">
                    <header class="valora-header">
                        <div class="valora-user">Carla Martinez</div>
                        <div class="valora-stars">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        </div>
                    </header>
                    <div class="valora-contento">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ut explicabo reiciendis sit velit fugiat, fuga, ipsam repellendus nulla quasi natus maxime. Est aut reiciendis nulla velit accusantium optio animi.</div>
                </div>
            </div>
            <div class="col-12">
                <div class="valoracion">
                    <header class="valora-header">
                        <div class="valora-user">Marco Aurelio</div>
                        <div class="valora-stars">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                        </div>
                    </header>
                    <div class="valora-contento">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ut explicabo reiciendis sit velit fugiat, fuga, ipsam repellendus nulla quasi natus maxime. Est aut reiciendis nulla velit accusantium optio animi.</div>
                </div>
            </div>
            <div class="col-12">
                <div class="valoracion">
                    <header class="valora-header">
                        <div class="valora-user">Juana Viale</div>
                        <div class="valora-stars">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                        </div>
                    </header>
                    <div class="valora-contento">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ut explicabo reiciendis sit velit fugiat, fuga, ipsam repellendus nulla quasi natus maxime. Est aut reiciendis nulla velit accusantium optio animi.</div>
                </div>
            </div>
        </div>
    </div>
</section>