<!-- Las secciones de contenidos de una pagina de veterinaria  -->

<section class="page-title bg-dark text-light p-100"
    style="background-image:url(../../../assets/images/p1-title-img.jpg);">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="title">Cuidados - Paseadores</h1>
            </div>
        </div>
    </div>
</section>

<section class="veterinarias-contenido p-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="vc-busqueda">
                    <form class="d-flex vc-buscador">
                        <input type="search" name="buscar" placeholder="Buscar paseador..." autocomplete="off"
                            class="form-control">
                        <button type="submit" class="search-button btn"><i
                                class="fa-solid fa-magnifying-glass"><span>Buscar</span></i></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-12 col-md-6">
                <div class="vet-carto">
                    <figure>
                        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
                    </figure>
                    <div class="vc-content">
                        <h4 class="title">Carlos Gutierrez</h4>
                        <div class="vc-contacto">
                            <ul class="contacto">
                                <li class="contacto-item">
                                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                                </li>
                                <li class="contacto-item">
                                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vc-bottom d-flex align-self-center justify-content-between">
                            <div class="stars d-flex align-self-center">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <a routerLink="cuidados/paseador" class="btn btn-primary w-100">Mas Info!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 col-md-6">
                <div class="vet-carto">
                    <figure>
                        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
                    </figure>
                    <div class="vc-content">
                        <h4 class="title">Carlos Gutierrez</h4>
                        <div class="vc-contacto">
                            <ul class="contacto">
                                <li class="contacto-item">
                                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                                </li>
                                <li class="contacto-item">
                                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vc-bottom d-flex align-self-center justify-content-between">
                            <div class="stars d-flex align-self-center">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <a routerLink="cuidados/paseador" class="btn btn-primary w-100">Mas Info!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 col-md-6">
                <div class="vet-carto">
                    <figure>
                        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
                    </figure>
                    <div class="vc-content">
                        <h4 class="title">Carlos Gutierrez</h4>
                        <div class="vc-contacto">
                            <ul class="contacto">
                                <li class="contacto-item">
                                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                                </li>
                                <li class="contacto-item">
                                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vc-bottom d-flex align-self-center justify-content-between">
                            <div class="stars d-flex align-self-center">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <a href="paseador.html" class="btn btn-primary w-100">Mas Info!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 col-md-6">
                <div class="vet-carto">
                    <figure>
                        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
                    </figure>
                    <div class="vc-content">
                        <h4 class="title">Carlos Gutierrez</h4>
                        <div class="vc-contacto">
                            <ul class="contacto">
                                <li class="contacto-item">
                                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                                </li>
                                <li class="contacto-item">
                                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vc-bottom d-flex align-self-center justify-content-between">
                            <div class="stars d-flex align-self-center">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <a href="paseador.html" class="btn btn-primary w-100">Mas Info!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 col-md-6">
                <div class="vet-carto">
                    <figure>
                        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
                    </figure>
                    <div class="vc-content">
                        <h4 class="title">Carlos Gutierrez</h4>
                        <div class="vc-contacto">
                            <ul class="contacto">
                                <li class="contacto-item">
                                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                                </li>
                                <li class="contacto-item">
                                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vc-bottom d-flex align-self-center justify-content-between">
                            <div class="stars d-flex align-self-center">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <a href="paseador.html" class="btn btn-primary w-100">Mas Info!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 col-md-6">
                <div class="vet-carto">
                    <figure>
                        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
                    </figure>
                    <div class="vc-content">
                        <h4 class="title">Carlos Gutierrez</h4>
                        <div class="vc-contacto">
                            <ul class="contacto">
                                <li class="contacto-item">
                                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                                </li>
                                <li class="contacto-item">
                                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vc-bottom d-flex align-self-center justify-content-between">
                            <div class="stars d-flex align-self-center">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <a href="paseador.html" class="btn btn-primary w-100">Mas Info!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 col-md-6">
                <div class="vet-carto">
                    <figure>
                        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
                    </figure>
                    <div class="vc-content">
                        <h4 class="title">Carlos Gutierrez</h4>
                        <div class="vc-contacto">
                            <ul class="contacto">
                                <li class="contacto-item">
                                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                                </li>
                                <li class="contacto-item">
                                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vc-bottom d-flex align-self-center justify-content-between">
                            <div class="stars d-flex align-self-center">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <a href="paseador.html" class="btn btn-primary w-100">Mas Info!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 col-md-6">
                <div class="vet-carto">
                    <figure>
                        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
                    </figure>
                    <div class="vc-content">
                        <h4 class="title">Carlos Gutierrez</h4>
                        <div class="vc-contacto">
                            <ul class="contacto">
                                <li class="contacto-item">
                                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                                </li>
                                <li class="contacto-item">
                                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vc-bottom d-flex align-self-center justify-content-between">
                            <div class="stars d-flex align-self-center">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <a href="paseador.html" class="btn btn-primary w-100">Mas Info!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 col-md-6">
                <div class="vet-carto">
                    <figure>
                        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
                    </figure>
                    <div class="vc-content">
                        <h4 class="title">Carlos Gutierrez</h4>
                        <div class="vc-contacto">
                            <ul class="contacto">
                                <li class="contacto-item">
                                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                                </li>
                                <li class="contacto-item">
                                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vc-bottom d-flex align-self-center justify-content-between">
                            <div class="stars d-flex align-self-center">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <a href="paseador.html" class="btn btn-primary w-100">Mas Info!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 col-md-6">
                <div class="vet-carto">
                    <figure>
                        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
                    </figure>
                    <div class="vc-content">
                        <h4 class="title">Carlos Gutierrez</h4>
                        <div class="vc-contacto">
                            <ul class="contacto">
                                <li class="contacto-item">
                                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                                </li>
                                <li class="contacto-item">
                                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vc-bottom d-flex align-self-center justify-content-between">
                            <div class="stars d-flex align-self-center">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <a href="paseador.html" class="btn btn-primary w-100">Mas Info!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 col-md-6">
                <div class="vet-carto">
                    <figure>
                        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
                    </figure>
                    <div class="vc-content">
                        <h4 class="title">Carlos Gutierrez</h4>
                        <div class="vc-contacto">
                            <ul class="contacto">
                                <li class="contacto-item">
                                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                                </li>
                                <li class="contacto-item">
                                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vc-bottom d-flex align-self-center justify-content-between">
                            <div class="stars d-flex align-self-center">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <a href="paseador.html" class="btn btn-primary w-100">Mas Info!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 col-md-6">
                <div class="vet-carto">
                    <figure>
                        <img src="../../../assets/images/paseador2.jpg" alt="paseador" title="paseador">
                    </figure>
                    <div class="vc-content">
                        <h4 class="title">Carlos Gutierrez</h4>
                        <div class="vc-contacto">
                            <ul class="contacto">
                                <li class="contacto-item">
                                    <i class="fa-brands fa-whatsapp"></i> <a href="#">555555555555</a>
                                </li>
                                <li class="contacto-item">
                                    <i class="fa-solid fa-phone"></i> <a href="#">555555555555</a>
                                </li>
                            </ul>
                        </div>
                        <div class="vc-bottom d-flex align-self-center justify-content-between">
                            <div class="stars d-flex align-self-center">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                    class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <a href="paseador.html" class="btn btn-primary w-100">Mas Info!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>