<div class="row th-bottom">
    <nav class="navbar navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto d-flex justify-content-lg-center justify-content-md-center pl-3 pr-3">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="mascotas.html" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mascotas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="#">Informacion de Mascotas</a>
                    <a class="dropdown-item" href="#">Alimentacion</a>
                    <a class="dropdown-item" href="#">Vacunas</a>
                    <a class="dropdown-item" href="#">Cuidados generales</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="veterinarias.html" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Veterinaria
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <a class="dropdown-item" href="veterinarias.html">Mas cercanas</a>
                    <a class="dropdown-item" href="#">A domicilio</a>
                    <a class="dropdown-item" href="veterinarias-guardia.html">De guardia</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cuidados
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a class="dropdown-item" href="cuidados-paseadores.html">Paseadores</a>
                        <a class="dropdown-item" href="cuidados-peluqueria.html">Peluqueria Canina</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comunidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
</div>